<div class="confirm-wrap">
  <h2 class="title">请确认订单</h2>

  <div class="section">
    <h3>菜品</h3>
    <ul>
      <li ng-repeat="dish in $storage.dishes | filter: { count: '!0' }" >
        <div class="name">
          <span class="itemname">{{ dish.name }}</span>
          <span class="price">￥{{ dish.price }}元</span>
        </div>
        {{ dish.count }} 份
      </li>
    </ul>
  </div>

  <div class="section">
    <h3>饮料</h3>
    <ul>
      <li ng-repeat="drink in $storage.drinks | filter: { count: '!0' }">
        <div style="display:inline-block">
          <span class="drink-name">{{ drink.name }}</span>
          {{ drink.count }} 份
        </div>
      </li>
    </ul>
  </div>

  <div class="section">
    <h3>个人信息</h3>
    <div>宿舍楼号{{ $storage.orderInfo.buildingNum }}</div>
    <div>寝室号{{ $storage.orderInfo.roomNum }}</div>
    <div>手机{{ $storage.orderInfo.phoneNum }}</div>
    <div>送餐时间{{ $storage.orderInfo.delTime }}</div>
    <div>总价{{ $storage.orderInfo.price }}</div>
    <div ng-show="$storage.orderInfo.discountCodeValid">优惠码减2元</div>
  </div>

  <div>
    <a href="#">返回修改</a>
    <a href="javascript:void(0);" ng-click="submitOrder()">确认</a>
  </div>
</div>