<div class="list-wrap" name="order">
  <div>
    <ul class="list">
      <li ng-repeat="dish in dishes">
        <div class="name">
          <span class="itemname">{{ dish.name }}</span>
          <span class="price">￥{{ dish.price }}元</span>
          <small>{{ dish.content }}</small>
        </div>
        <div class=" ope-wrap">
          <span class="minus" ng-click="subItemCount(dish)">-</span>
          <input type="text" ng-model="dish.count" 
          class="ope-wrap-item itemnum" disabled="">
          <span class="plus" ng-click="addItemCount(dish)">+</span>
          <div class="favor">
            <small>口味选择：</small>
            <span class="favor-button" ng-class="{true: 'selected'}[dish.favor=='正常']"
              ng-click="changeFavor(dish,'正常')">正常
            </span>
            <span class="favor-button" ng-class="{true: 'selected'}[dish.favor=='加辣']"
              ng-click="changeFavor(dish,'加辣')">加辣
            </span>
          </div>
        </div>
      </li>
    </ul>
    <div class="name">
      饮料（3元/个）：<br/>
      <ul class="list">
        <li class="drink-wrap" ng-repeat="drink in drinks">
          <div style="display:inline-block">
            <span class="drink-name">{{ drink.name }}</span>
            <span class=" drink-ope-wrap">
              <span class="minus" ng-click="subItemCount(drink)">-</span>
              <input value="{{ drink.count }}" class="itemnum" disabled="">
              <span class="plus" ng-click="addItemCount(drink)">+</span>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="result-wrap">
    <span class="label">宿舍楼号</span>
    <input type="number" ng-model="orderInfo['buildingNum']" placeholder="如“4”">
    <br/>
    <span class="label">房间号</span>
    <input type="text" ng-model="orderInfo['roomNum']" placeholder="如“中404”">
    <br/>
    <span class="label">联系电话</span>
    <input type="number" ng-model="orderInfo['phoneNum']">
    <br/>
    <span class="label">优惠码</span>
    <input id="" type="number" name="" ng-model="discountCode" 
    ng-keyup="varifyDiscountCode()">
    <br/>
    <span class="label">送餐时间</span>

    <select ng-model='delTime' required 
      ng-options='option.time as option.time for option in validDelTimes'>
    </select><br/>
    
    <div class="submit">
      共计
      <span id="sum">{{ priceSum }}</span>
      元
      <a href="javascript:void(0);" ng-click="confirmOrder();">确认</a>
    </div>
  </div>
</div>