<div class="page-wrap confirm-wrap">
  <h2 class="title">确认订单</h2>

  <div class="section">
    <h3>菜品</h3>
    <ul class="item-list">
      <li class="item" ng-repeat="dish in $storage.dishes | filter: { count: '!0' }" >
        <span class="item-name">{{ dish.name }}（{{ dish.favor }}）</span>
        <span class="item-info">
          {{ dish.price }}元 x {{ dish.count }}份
        </span>
      </li>
    </ul>
  </div>

  <div class="section">
    <h3>饮料</h3>
    <ul class="item-list">
      <li class="item" ng-repeat="drink in $storage.drinks | filter: { count: '!0' }">
        <span class="item-name">{{ drink.name }}</span>
        <span class="item-info">
          3元 x {{ drink.count }}份
        </span>
      </li>
      <li class="item" ng-if="noDrinks">未预定</li>
    </ul>
  </div>

  <div class="section item-list">
    <h3>个人信息</h3>
    <div class="item"><span class="item-label">公寓号</span>{{ $storage.userInfo.buildingNum }}</div>
    <div class="item"><span class="item-label">寝室号</span>{{ $storage.userInfo.roomNum }}</div>
    <div class="item"><span class="item-label">手机号</span>{{ $storage.userInfo.phoneNum }}</div>
    <div class="item"><span class="item-label">起送时间</span>{{ $storage.orderInfo.delTime }}</div>
    <div class="item"><span class="item-label">总价</span>{{ $storage.orderInfo.price }}</div>
    <div class="item" ng-show="$storage.orderInfo.drinkBonus"><span class="item-label">附加</span>送1.25L饮料</div>
    <div class="item" ng-show="$storage.orderInfo.discountCodeValid">优惠码减2元</div>
  </div>

  <div class="section button-wrap">
    <a class="button button-white" href="#">返回修改</a>
    <a class="button button-orange" href="javascript:void(0);" ng-click="submitOrder()">确认</a>
  </div>

  <div class="loading-mask" ng-show="maskVisible">
    <div class="loading-wrap">
      <div>加载中...</div>
    </div>
  </div>
</div>