<div class="list-wrap" name="order">
  <div>
    <ul class="list">
      <li ng-repeat="dish in $storage.dishes">
        <div class="main-wrap">
          <img class="dish-img" ng-src="{{dish.img}}">
          <a href="javascript:void(0);" class="button-reserve" ng-click="reserveItem(dish)">
            预订
            <i class="icon ion-chevron-down" ng-show="!dish.temp.opeVisible"></i>
            <i class="icon ion-chevron-up" ng-show="dish.temp.opeVisible"></i>
          </a>
          <div class="intro-wrap">
            <div class="intro-item item-name">
              {{ dish.name }}
              <span class="icon-count" ng-show="dish.count !== 0">{{dish.count}}</span>
            </div>
            <div class="intro-item">{{ dish.content }}</div>
            <div class="intro-item item-price">{{ dish.price }}元 / 份</div>
          </div>
        </div>
        <div class="ope-wrap" ng-show="dish.temp.opeVisible">
          <div class="favor">
            <small>口味:</small>
            <div class="favor-option-wrap">
              <span class="favor-button" ng-class="{true: 'selected'}[dish.favor=='正常']"
                ng-click="changeFavor(dish,'正常')">正常
              </span>
              <span class="char-division">/</span>
              <span class="favor-button" ng-class="{true: 'selected'}[dish.favor=='加辣']"
                ng-click="changeFavor(dish,'加辣')">加辣
              </span>
            </div>
          </div>

          <div class="num-wrap">
            <small>数量:</small>
            <div class="num-ope-wrap">
              <span class="minus" ng-click="subItemCount(dish)">-</span>
              <span class="ope-wrap-item itemnum">{{dish.count}}</span>
              <span class="plus" ng-click="addItemCount(dish)">+</span>
            </div>
          </div>
          <!--<a href="javascript:void(0);" class="button-item-confirm" ng-click="itemConfirm(dish)">确认</a>-->
          <div class="ope-wrap-tri"></div>
        </div>
      </li>
    </ul>
    <div class="drink-wrap">
      <h2>饮料（3元 / 个）</h2>
      <ul class="drink-list">
        <li class="drink-item" ng-class="{'active':drink.count !== 0}" ng-repeat="drink in $storage.drinks" ng-click="addDrinkCount(drink)">
            <span class="drink-name">{{ drink.name }}</span>
            <span class="icon-count" ng-show="drink.count !== 0">{{ drink.count }}</span>
            <i class="icon ion-close-circled" ng-show="drink.count !== 0" ng-click="subDrinkCount(drink); $event.stopPropagation()"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="result-wrap">
    <h2>订单信息</h2>
    <div class="info-item">
      <span class="label">公寓号</span>
      <input class="info-input" type="number" ng-model="$storage.orderInfo['buildingNum']" placeholder="如“4”">
    </div>
    <div class="info-item">
      <span class="label">宿舍号</span>
      <input class="info-input" type="text" ng-model="$storage.orderInfo['roomNum']" placeholder="如“中404”">
    </div>
    <div class="info-item">
      <span class="label">手机号</span>
      <input class="info-input" type="tel" max-length=11 ng-model="$storage.orderInfo['phoneNum']">
    </div>
    <div class="info-item">
      <span class="label">优惠码</span>
      <input class="info-input" type="text" name="" ng-model="$storage.orderInfo['discountCode']"
      ng-keyup="varifyDiscountCode()">
    </div>
    <div class="info-item">
      <span class="label">起送时间</span>
      <select class="select-time" ng-model='delTime' required
        ng-options='option.time as option.time for option in validDelTimes' ng-change="updateTime()">
      </select>
    </div>
    <div class="submit">
      共计
      <span id="sum">{{ priceSum }}</span>
      元
      <span class="discount-info" ng-show="$storage.orderInfo.discountCodeValid">(优惠码减2)</span>
      <a class="button-submit" href="javascript:void(0);" ng-click="confirmOrder();">确认订单</a>
    </div>
  </div>
</div>